<div class="slideshow">
  {{#if slide}}
    {{#if hasCurrentSlideComponent}}
      {{#if previousSlide}}
        <div class="previous">
          {{#paper-button iconButton=true raised=true onClick=(action "previousSlide")}}
            {{paper-icon "navigate_before"}}
          {{/paper-button}}
        </div>
      {{/if}}

      {{#liquid-bind currentSlideComponent class="slide-wrapper"}}
        {{component currentSlideComponent class="slide-component"}}
      {{/liquid-bind}}

      {{#if nextSlide}}
        <div class="next">
          {{#paper-button iconButton=true raised=true onClick=(action "nextSlide")}}
            {{paper-icon "navigate_next"}}
          {{/paper-button}}
        </div>
      {{/if}}
    {{else}}
      Slide not found.
    {{/if}}
  {{else}}
    {{#if hasCurrentSlideComponent}}
      {{#if previousSlide}}
        <div class="previous">
          {{#paper-button iconButton=true raised=true onClick=(action "previousSlide")}}
            {{paper-icon "navigate_before"}}
          {{/paper-button}}
        </div>
      {{/if}}

      {{component currentSlideComponent startPresentation=(action "startPresentation") restartPresentation=(action "endPresentation") class="slide-component"}}

      {{#if nextSlide}}
        <div class="next">
          {{#paper-button iconButton=true raised=true onClick=(action "nextSlide")}}
            {{paper-icon "navigate_next"}}
          {{/paper-button}}
        </div>
      {{/if}}
    {{else}}
      Start slide component not found.
    {{/if}}
  {{/if}}
</div>